/* Color del tema */
$--color-primary: #4E568F;

/* Ubicación de la fuente, obligatoria */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

//$font-family-sans-serif: "Raleway", sans-serif;
//$font-family-sans-serif: "Nunito",sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@import "~element-ui/packages/theme-chalk/src/index";
